.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin: 16px 0;
    .contact-icon{
        width: 24px;
        height: 24px;
    }
    .create-icon{
        width: 24px;
        height: 24px;
    }
}