.headers-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding: 0 16px;
}
.headers-icons img{
    width: 24px;
    height: 24px;
}